/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom styles */


.box01{
	background-color: lightsalmon;
	width: 100px;
	height: 100px;
	padding: 48px;
	
	

}
.box02{
	background-color: lightseagreen;
	height: 200x;
	padding: 48px;
	display: inline-block;
	width: 200px;
	border: black 3px solid;

}
.box03{
	background-color: lightslategray;
	height: 300px;
	
	padding: 48px;
	margin: auto;
	width: 300px;
	width: 300;
	
	}
	body{
		text-align: center;
		text-transform: capitalize;
	}
	header{
		font-size: 40px;
	}
	.exe{
		font-size: 25px;
	}
	hr{
		
		border: none;
	border-top: 1px dotted black;
	width: 50%;
	 }
	.circle03{
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: black;
		display: inline-block;
	}
	p{
		display: inline-block;}

	.circle01{
	    width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color:lightsalmon;
		display: inline-block;
		}
    .circle02{
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color:lightseagreen;
		display: inline-block;}

    .circle04{    
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: lightslategray;
		display: inline-block; }
	 
     .container01{
		background-color: white;
		width: 600px;
		height: 115px;
		margin: auto;
		border: black 1px solid;

	}
	.c01{
		background-color: grey;
		width:180px;
		height: 100px;
		margin: 8px;
		display: inline-block;
		border: none;
		
		
	}
	.contact{
		background-color: white;
		width: 600px;
		height: 250px;
		margin: auto;
		border: black 1px solid;

	} 
      .container02{
		background-color: white;
		width: 600px;
		height: 115px;
		margin: auto;
		border: black 1px solid;

	}
	.c02{
		background-color: grey;
		width:180px;
		height: 100px;
		margin: 6px;
		display: inline-block;
		border: 1px black solid;}





	







		

		
    
	
	

	
		
		