/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom styles */

/* Header */

header{
	width: 900px;
	margin: 0px auto;
	text-align: center;
}
h1{
	font-size: 56px;
}

/* hr */
hr{
	width: 500px ;
	border: dashed 1px #b1a9a9;
	margin: 30px 0px;
	display: inline-block;
}

/*  Hero-Section */
section{
	text-align: center;
}
h2{
	font-size: 36px;
	text-align: center;
}
.square{
	width: 125px;
	height: 125px;
	background-color:#DAFAD4 ;
	border: 24px #ADD8E6 solid;
	outline: 5px solid black;
	box-shadow:0px 0px 0px 24px #ED7F80 ;
	margin: 56px auto;
}
.container{
	display: inline-block;
	margin: 12px;
	
}
.circle{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: inline-block;
}
.content{
	background-color:#DAFAD4 ;
}
.padding{
	background-color:#ADD8E6 ;
}
.border{
	background-color:black ;
}
.margin{
	background-color: #ED7F80 ;
}
span{
	vertical-align: middle;
	
}

/* Second-section */

h3{
	font-size: 22px;
	margin-top: 16px;
	
}
.rectangle-cont{
	width: 600px;
	border: 1px #b1a9a9 solid ;
	margin: 24px auto;
	font-size: 0px;
	
	
	
}
.rectangle {
	width: 180px;
	height: 100px;
	background-color:#CCCCCC ;
	display: inline-block;
	margin: 10px;
	
	
}
.start{
	text-align: start;
}
.rect-border{
	border:  1px #b1a9a9 solid ;
	box-sizing: border-box;
}